<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lfmt.NetRunner</title>
    <link rel="stylesheet" href="~/lib/picocss/css/pico.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="container">
        <nav>
            <ul>
                <li><strong><a href="/" class="contrast">Lfmt.NetRunner</a></strong></li>
            </ul>
            <ul>
                <li><a href="/">Apps</a></li>
                <li><a href="/App/Create">Deploy New</a></li>
                <li><a href="/Logs">Logs</a></li>
                <li><a href="/Settings">Settings</a></li>
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <li><a href="/Logout">Logout</a></li>
                }
            </ul>
        </nav>
    </header>

    <main class="container">
        @RenderBody()
    </main>

    <footer class="container">
        @* <small>Lfmt.NetRunner</small> *@
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
